								<section class="hide-level" style="display: true">
									<section class="row">
										<h3>Complete this section for Level 4, 5 and 6 Facilities</h3>
									</section>

									<section class="row">
										<section class="row-title">
											<section class="left">
												<label class="dcah-label">Supply/Equipment</label>
											</section>
											<section class="center">
												<label class="dcah-label" style="width:45%">Availability (A)</label>
												<label class="dcah-label" style="float:right;width:45%">Quantity</label>
											</section>
											<section class="right">
												<label class="dcah-label" style="width:45%">Functioning(b)</label>
												<label class="dcah-label" style="float:right;width:45%">Quantity</label>
											</section>
										</section>

									<section id="tableEquipmentList_4">
							    	<section class="row2">
							    	<input type="button" id="editEquipmentListTopButton_4" name="editEquipmentListTopButton_4" class="awesome myblue medium" value="Edit List"/>
							    	</section>
										<section class="row" id="tr_67">
										<section class="left">
											18a. Operating Table
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_67" id="q18equipAvailability_67">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_67" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_67" id="q18equipFunctioning_67" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_67" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_67" id="q18equipCode_67" value="EQP91" />
									</section>

									<section class="row" id="tr_68">
										<section class="left">
											18b. Operating Light
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_68" id="q18equipAvailability_68">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_68" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_68" id="q18equipFunctioning_68" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input type="number" class="cloned fromZero" />
										</section>
										<input type="hidden"  name="q18equipCode_68" id="q18equipCode_68" value="EQP92" />
									</section>

									<section class="row" id="tr_69">
										<section class="left">
											18c. Anaesthetic machine
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_69" id="q18equipAvailability_69">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_69" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_69" id="q18equipFunctioning_69" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_69" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_69" id="q18equipCode_69" value="EQP93" />
									</section>

									<section class="row" id="tr_70">
										<section class="left">
											18d. Laryngoscopes
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_70" id="q18equipAvailability_70">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_70" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_70" id="q18equipFunctioning_70" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_70" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_70" id="q18equipCode_70" value="EQP94" />
									</section>


									<section class="row" id="tr_71">
										<section class="left">
											18e. Endotracheal tubes
										</section>
										
										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_71" id="q18equipAvailability_71">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_71" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_71" id="q18equipFunctioning_71" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_71" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_71" id="q18equipCode_71" value="EQP95" />
									</section>


									<section class="row" id="tr_72">
										<section class="left">
											18f. Anaesthetic drugs e.g ketamine
										</section>
										
										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_72" id="q18equipAvailability_72">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_72" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_72" id="q18equipFunctioning_72" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option>Always Available</option>
												<option>Sometimes Available</option>
												<option>Never Available</option>
											</select>

											<input name="q18equipFQty_72" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_72" id="q18equipCode_72" value="EQP96" />
									</section>


									<section class="row" id="tr_73">
										<section class="left">
											18g. Anaesthetic gases (halothane, NO2, Oxygen, etc)
										</section>
										

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_73" id="q18equipAvailability_73">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_73" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_73" id="q18equipFunctioning_73" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option>Always Available</option>
												<option>Sometimes Available</option>
												<option>Never Available</option>
											</select>

											<input name="q18equipFQty_73" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_73" id="q18equipCode_73" value="EQP97" />
									</section>


									<section class="row" id="tr_74">
										<section class="left">
											18h. Drugs and supplies for spinal anesthesia (e.g. Spinal needle)
										</section>
										

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_74" id="q18equipAvailability_74">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_74" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_74" id="q18equipFunctioning_74" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option>Always Available</option>
												<option>Sometimes Available</option>
												<option>Never Available</option>
											</select>

											<input name="q18equipFQty_74" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_74" id="q18equipCode_74" value="EQP98" />
									</section>


									<section class="row" id="tr_75">
										<section class="left">
											18i. Scrub area adjacent to or in the operating room
										</section>
							
										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_75" id="q18equipAvailability_75">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_75" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_75" id="q18equipFunctioning_75" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_75" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_75" id="q18equipCode_75" value="EQP99" />
									</section>


									<section class="row" id="tr_76">
										<section class="left">
											18j. Running Water
										</section>
									
										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_76" id="q18equipAvailability_76">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_76" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_76" id="q18equipFunctioning_76" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_76" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_76" id="q18equipCode_76" value="EQP100" />
									</section>


									<section class="row" id="tr_77">
										<section class="left">
											18k. Suction Machine
										</section>
										

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_77" id="q18equipAvailability_77">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_77" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_77" id="q18equipFunctioning_77" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_77" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_77" id="q18equipCode_77" value="EQP101" />
									</section>


									<section class="row" id="tr_78">
										<section class="left">
											18l. Standard Cesaerian section kit
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_78" id="q18equipAvailability_78">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_78" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_78" id="q18equipFunctioning_78" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_78" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_78" id="q18equipCode_78" value="EQP102" />
									</section>


									<section class="row" id="tr_79">
										<section class="left">
											18m. Sterile operation gowns
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_79" id="q18equipAvailability_79">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_79" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_79" id="q18equipFunctioning_79" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_79" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_79" id="q18equipCode_79" value="EQP103" />
									</section>


									<section class="row" id="tr_80">
										<section class="left">
											18n. Sterile Drapes
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_80" id="q18equipAvailability_80">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_80" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_80" id="q18equipFunctioning_80" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_80" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_80" id="q18equipCode_80" value="EQP104" />
									</section>


									<section class="row" id="tr_81">
										<section class="left">
											18o. Sterile gloves in various sizes
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_81" id="q18equipAvailability_81">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>
											<label>Sizes (Hold down Ctrl and click to select many)</label>
										    <select multiple="multiple" name="q18equipAType_81[]" id="q18equipAType_81" class="cloned">

												<option value="1">Size 1</option>

												<option value="2">Size 2</option>
												<option value="3">Size 3</option>
												<option value="4">Size 4</option>
												<option value="5">Size 5</option>
												<option value="6">Size 6</option>
												<option value="6.5">Size 6.5</option>
												<option value="7">Size 7</option>

												<option value="7.5">Size 7.5 </option>

												<option value="8">Size 8</option>
												<option value="8.5">Size 8.5</option>
												<option value="9">Size 9</option>
											</select>

											<input name="q18equipAQty_81" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_81" id="q18equipFunctioning_81" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_81" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_81" id="q18equipCode_81" value="EQP105" />
									</section>


									<section class="row" id="tr_82">
										<section class="left">
											18p. IV canulas
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_82" id="q18equipAvailability_82">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_82" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_82" id="q18equipFunctioning_82" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_82" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_82" id="q18equipCode_82" value="EQP106" />
									</section>

									<section class="row" id="tr_83">
										<section class="left">
											18q. Drip Stand
										</section>
										<input type="hidden"  name="q18equipCode_105" id="q18equipCode_105" value="EQP107" />

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_83" id="q18equipAvailability_83">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_83" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_83" id="q18equipFunctioning_83" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>
											<input name="q18equipFQty_83" type="number" class="cloned fromZero" min="0"/>
										</section>
									</section>


									<section class="row" id="tr_84">
										<section class="left">
											18r. Blood transfusion set
										</section>
										
										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_84" id="q18equipAvailability_4">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_84" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_84" id="q18equipFunctioning_84" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>

											<input name="q18equipFQty_84" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_84" id="q18equipCode_84" value="EQP108" />
									</section>


									<section class="row" id="tr_85">
										<section class="left">
											18s. Recovery room/ recovery area
										</section>

										<section class="center">
											<select class="cloned left-combo" name="q18equipAvailability_85" id="q18equipAvailability_85">
												<option value="" selected="selected">Select One</option>
												<option>Yes </option>
												<option>No </option>
											</select>

											<input name="q18equipAQty_85" type="number" class="cloned fromZero" min="0"/>
										</section>
										<section class="center">
											<select name="q18equipFunctioning_85" id="q18equipFunctioning_85" class="cloned">
												<option value="" selected="selected">Select One</option>
												<option> Yes </option>
												<option> No </option>
												<option> Dont Know </option>
											</select>
											
											<input name="q18equipFQty_85" type="number" class="cloned fromZero" min="0"/>
										</section>
										<input type="hidden"  name="q18equipCode_85" id="q18equipCode_85" value="EQP109" />
										</section> <!--close section tableEquipmentList_4-->
									</section>
									
									<label class="dcah-label" style="text-align:center">End of Questionnaire</label>
								</section>
							</section><!--close section level-hide-->